body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background-color: black; /* Set background color to black */
}
/* Adjustments for light mode */
.light-mode a {
  color: black; /* Set anchor color to black in light mode */
  text-decoration: none;
}

.light-mode a:hover {
  color: #a076f9; /* Set anchor hover color in light mode */
  text-decoration: none;
  text-underline-offset: 1rem;
}

.user-icon:hover {
  color: #a076f9; /* Set user icon hover color in light mode */
}

.light-mode logo {
  font-size: 2rem;
}

.light-mode .logo span {
  color: black; /* Set logo text color in light mode */
}

.light-mode {
  background-color: #f0f0f0; /* Set background color in light mode */
  color: black; /* Set text color in light mode */
}

.light-mode h2 span {
  color: #5200d8; /* Set h2 span color in light mode */
}
/* dark */
h2 span {
  color: greenyellow;
}
.screen {
  display: none;
}
.screen.active {
  display: block;
}
.app {
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.light-mode .form-input label {
  background-color: transparent;
  color: #111;
}
.receiver-form-text {
  color: white;
}

.join-screen .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center; /* Center text inside the form */
}

.join-screen .form h2 {
  font-size: 40px;
  line-height: 45px;
  color: #a076f9;
  margin-bottom: 1rem;
}

.light-mode .join-screen .form h2 {
  font-size: 40px;
  line-height: 45px;
  color: #6528f7;
  margin-bottom: 1rem;
}

.join-screen .form button {
  background-color: white;
  border: 0;
  padding: 1.5rem 2rem;
  font-size: 4rem;
  font-family: monospace;
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
}

.join-screen .form button:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
}

.join-screen .form button:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(0.98);
}

/* Additional properties from your existing CSS */
.join-screen .form button {
  background: #111;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.join-screen .form #join-id b {
  color: #222;
  display: block;
  margin-top: 20px;
}
.join-screen .form #join-id span {
  display: inline-block;
  font-size: 25px;
  font-family: monospace;
  color: #222;
  padding: 10px;
  border: 1px solid #111;
  margin-top: 5px;
}

.light-mode .join-screen .form label {
  color: #050bac;
  font-size: 18px;
}
.join-screen .form label {
  color: #b8e2fc;
  font-size: 18px;
}
.join-screen .form input {
  display: block;
  margin: 10px 0px;
  width: 100%;
  max-width: 200px;
  border: 1px solid #111;
  color: #111;
  font-size: 20px;
  padding: 10px;
}

.fs-screen {
  padding: 20px;
}
.fs-screen .file-input {
  width: 100%;
  border: 2px dashed #555;
}
.fs-screen .file-input label {
  display: block;
  width: 100%;
  padding: 40px 50px;
  text-align: center;
  color: #111;
  font-size: 18px;
}
.fs-screen .file-input input {
  display: none;
}
.fs-screen .files-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.fs-screen .files-list .title {
  width: 100%;
  font-size: 40px;
  color: #a076f9;
  margin-bottom: 20px;
  margin-left: 45%;
  text-align: justify;
}
.light-mode .fs-screen .files-list .title {
  width: 100%;
  font-size: 40px;
  color: #6528f7;
  margin-bottom: 20px;
  margin-left: 45%;
  text-align: justify;
}
.fs-screen .files-list .item {
  width: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 27%;
  top: 18%;
  height: 70px;
  min-width: 200px;
  /* border: 1px solid #eee; */
  box-shadow: 5px 5px #09cee0;
  background-image: linear-gradient(
    to right,
    #09cee0,
    #df6aec
  ); /* Initial color of the progress bar */
  animation: fillWater 1s ease forwards; /* Animation settings */
  transform-origin: bottom center; /* Set the transform origin to bottom center */
}
.light-mode .fs-screen .files-list .item {
  width: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 27%;
  top: 18%;
  height: 70px;
  min-width: 200px;
  /* border: 1px solid #eee; */
  box-shadow: 5px 5px #b8e2fc;
  background-image: linear-gradient(
    to right,
    #b8e2fc,
    #ffc1a1
  ); /* Initial color of the progress bar */
  animation: fillWater 1s ease forwards; /* Animation settings */
  transform-origin: bottom center; /* Set the transform origin to bottom center */
}

@keyframes fillWater {
  0% {
    height: 0%;
    border-radius: 50% 50% 0 0; /* Circular shape at the bottom */
    transform: scaleY(0.2); /* Initial scale Y */
  }
  60% {
    border-radius: 50% 50% 0 0; /* Semi-circle at the top */
    transform: scaleY(0.7); /* Increase scale Y */
  }
  40% {
    height: 25%;
    border-radius: 50% 50% 0 0; /* Circular shape at the bottom */
    transform: scaleY(0.5); /* Final scale Y */
  }
}
.light-mode .fs-screen .files-list .item .progress {
  left: 40%;
  top: -25px;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: #5200d8;
}
.fs-screen .files-list .item .progress {
  left: 40%;
  top: -25px;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: #ffffff;
}
.light-mode .fs-screen .files-list .item .filename {
  font-size: 2rem;
  padding: 10px;
  position: absolute;
  top: 120%;
  /* border-top: 1px solid #eee; */
  /* background-color: white; */
  color: #6528f7;
}
.fs-screen .files-list .item .filename {
  font-size: 2rem;
  padding: 30px;
  position: absolute;
  top: 120%;
  /* border-top: 1px solid #eee; */
  /* background-color: black; */
  color: #a076f9;
}
nav {
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 0 4vw;
  position: relative;
}

nav::after {
  content: "";
  position: absolute;
  top: 6.8vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #6528f7 10%, #a076f9 30%, #f2613f 100%);
}

nav,
.nav-links {
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: white; /* Set anchor color to white */
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #a076f9;
  text-decoration: none;
  text-underline-offset: 1rem;
}

.user-icon:hover {
  color: #a076f9;
}

.logo {
  font-size: 2rem;
  span {
    color: white;
  }
}

.light-mode .logo span {
  color: black;
}

#receiver-start-con-btn {
  background-image: linear-gradient(
    to right,
    #ff00ff,
    #a076f9
  ); /* Linear gradient */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Smooth transition */
}

#receiver-start-con-btn:hover {
  background-color: magenta; /* Change to magenta on hover */
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #6528f7;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #f2613f;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
