/* styles.css */
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
}

.light-mode {
  background-color: #f0f0f0;
  color: black;
}

.light-mode a {
  color: black;
  text-decoration: none;
}

.light-mode a:hover {
  color: #a076f9;
  text-decoration: none;
  text-underline-offset: 1rem;
}

.user-icon:hover {
  color: #a076f9;
}

.light-mode logo {
  font-size: 2rem;
}

.light-mode .logo span {
  color: black;
}

h2 span {
  color: greenyellow;
}

.main-content {
  text-align: center;
  margin: 0 auto;
}

.app {
  width: 100%;
  height: 100%;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --background: #6528f7;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #f2613f;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* Styling the "Create room" button */
#sender-start-con-btn {
  background-image: linear-gradient(
    to right,
    #ff00ff,
    #a076f9
  ); /* Linear gradient */
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Smooth transition */
}

#sender-start-con-btn:hover {
  background-color: magenta; /* Change to magenta on hover */
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

.logo {
  font-size: 2rem;
  span:hover {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.form {
  padding: 2rem;
}

.join-screen .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.form h2 {
  color: #a076f9;
  font-size: 40px;
  margin-bottom: 1rem;
  font-weight: bold;
}

.light-mode .form h2 {
  color: #6528f7;
  font-size: 40px;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form button {
  background-color: #111;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.file-input label {
  display: block;
  background-color: #555;
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.files-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  flex: 1 1 200px;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.progress {
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
  color: #222;
}

.filename {
  font-size: 1rem;
  margin-top: 0.5rem;
}
nav {
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 0 4vw;
  position: relative;
  /* TODO: find better alternatives for blur shadow, this doesn't work */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav::after {
  content: "";
  position: absolute;
  top: 6.8vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #6528f7 10%, #a076f9 30%, #f2613f 100%);
}

nav,
.nav-links {
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white; /* Set anchor color to white */
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #a076f9;
  text-decoration: none;
  text-underline-offset: 1rem;
}

.user-icon:hover {
  color: #a076f9;
}

.logo {
  font-size: 2rem;
  span:hover {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
